body {
    margin: 2%;
  }
  
  #display {
    display: flex;
  }
  
  .box1 {
    background-color: #316B83;
    width: 95%;
    height: 240px;
    border: solid 2px;
    margin: 2%;
  }
  
  .box2 {
    background-color: #F3D5C0;
    width: 30%;
    height: 270px;
    border: 2px solid black;
    margin: 2%;
  }
  .box3 {
    background-color: #D4B499;
    width: 100%;
    height: 270px;
    border: 2px solid black;
    margin: 2%;
  }
  .box4 {
    background-color: #889EAF;
    width: 30%;
    height: 270px;
    margin-top: 0px;
    border: 2px solid black;
    margin: 2%;
  }
  .box5 {
    background-color: #506D84;
    width: 100%;
    height: 270px;
    border: 2px solid black;
    margin: 2%;
  }